@page
@model InventarioModel
@{
    ViewData["Title"] = "Inventario";
}

<div class="estilo-inventario">
    <ul class="nav menu">
        <li class="nav-item">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#modal-sesion">
                <img class="cuenta-busqueda" src="/img/usuarioIcono2.png" alt="">
            </button>

            <div class="modal" tabindex="-1" id="modal-sesion">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informacion de Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            @if (Model.UsuarioActual != null)
                            {
                                <p>Nombre: @Model.UsuarioActual.Nombre</p>
                                <p>Telefono: @Model.UsuarioActual.Telefono</p>
                                <p>Rol: @Model.UsuarioActual.Rol</p>
                            }
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Aceptar</button>
                            <a asp-page="/Index" class="btn btn-primary">Cerrar sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/Administrador">
                <img title="Dashboard" class="img-menu" src="/img/dashboard.svg" alt="">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link seleccionado" asp-page="/Inventario">
                <img title="Inventario" class="img-menu" src="/img/barcode-solid.svg" alt="">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/Tiendas">
                <img title="Tiendas" class="img-menu" src="/img/store.svg" alt="">
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-page="/Historial">
                <img title="Historial" class="img-menu" src="/img/historial.svg" alt="">
            </a>
        </li>
    </ul>

    <div class="inventario">
        <div class="encabezado">
            <div class="fila">
                <div class="titulo">Inventario</div>
            </div>

            <div class="fila">
                <div class="busqueda">
                    <input class="barra-busqueda" type="text" placeholder="Buscar producto por nombre o codigo">
                    <div>
                        <a asp-page="/Index">
                            <img src="/img/lupa.png" alt="" class="lupa-inventario">
                        </a>
                    </div>
                </div>

                <div class="info-encabezado">
                    <button class="elemento-info-encabezado" data-bs-toggle="modal" data-bs-target="#modal-producto">
                        Nuevo producto
                        <img class="btn-inventario" src="/img/agregar.svg" alt="">
                    </button>

                    <div class="modal" tabindex="-1" id="modal-producto" data-bs-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Ingrese la informacion del producto</h5>
                                </div>

                                <form method="post" asp-page-handler="Agregar">
                                    <div class="modal-body">
                                        <div class="info-tienda">
                                            Nombre:
                                            <input asp-for="NuevoProducto.Nombre" class="form-control">
                                        </div>

                                        <div class="info-tienda">
                                            Codigo:
                                            <input asp-for="NuevoProducto.Codigo" class="form-control">
                                        </div>

                                        <div class="info-tienda">
                                            Precio:
                                            <input asp-for="NuevoProducto.Precio" class="form-control">
                                        </div>

                                        <div class="info-tienda">
                                            Categoria:
                                            <select asp-for="NuevoProducto.CategoriaId" class="form-control">
                                                <option value="1">Refresco</option>
                                                <option value="2">Botana</option>
                                                <option value="3">Lácteos</option>
                                                <option value="4">Panadería</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancelar
                                        </button>

                                        <button type="submit" class="btn btn-primary">
                                            Registrar producto
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tablas">
            <div class="contenedor-tabla">
                <div class="tabla-productos">
                    <table class="table table-dark table-striped tabla-dinamica">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Categoria</th>
                                <th scope="col" class="no-ordenar">
                                    <span class="invisible">Detalles</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var producto in Model.Productos)
                            {
                                <tr>
                                    <td>@producto.Nombre</td>
                                    <td>@producto.Codigo<span class="invisible">codigo</span></td>
                                    <td>@producto.Inventario.Sum(i => i.Stock)<span class="invisible">cantidad</span></td>
                                    <td>$@producto.Precio<span class="invisible">precio</span></td>
                                    <td>@producto.Categoria?.Nombre</td>

                                    <td>
                                        <button class="btn-detalles-tienda" data-bs-toggle="modal"
                                                data-bs-target="#modal-editar-producto-@producto.ProductoId">
                                            Editar
                                            <img class="btn-inventario" src="/img/editar.svg" alt="">
                                        </button>

                                        <div class="modal" tabindex="-1" id="modal-editar-producto-@producto.ProductoId"
                                             data-bs-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Información del producto</h5>

                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                        </button>
                                                    </div>

                                                    <form method="post" asp-page-handler="Editar">
                                                        <input type="hidden" name="ProductoEditar.ProductoId"
                                                               value="@producto.ProductoId">

                                                        <div class="modal-body">
                                                            <div class="info-tienda">
                                                                Id:
                                                                <input type="text" value="@producto.ProductoId" disabled>
                                                            </div>

                                                            <div class="info-tienda">
                                                                Nombre:
                                                                <input type="text" name="ProductoEditar.Nombre"
                                                                       value="@producto.Nombre">
                                                            </div>

                                                            <div class="info-tienda">
                                                                Codigo:
                                                                <input type="text" name="ProductoEditar.Codigo"
                                                                       value="@producto.Codigo">
                                                            </div>

                                                            <div class="info-tienda">
                                                                Precio:
                                                                <input type="text" name="ProductoEditar.Precio"
                                                                       value="@producto.Precio">
                                                            </div>

                                                            <div class="info-tienda">
                                                                Categoria:
                                                                <select name="ProductoEditar.CategoriaId">
                                                                    <option value="1">Refresco</option>
                                                                    <option value="2">Botana</option>
                                                                    <option value="3">Lácteos</option>
                                                                    <option value="4">Panadería</option>
                                                                </select>
                                                            </div>

                                                            <div class="info-tienda">
                                                                Estado:
                                                                <select name="ProductoEditar.Activo">
                                                                    @if (producto.Activo == true)
                                                                    {
                                                                        <option value="true" selected>Activo</option>
                                                                        <option value="false">Inactivo</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="true">Activo</option>
                                                                        <option value="false" selected>Inactivo</option>
                                                                    }
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Cancelar
                                                            </button>

                                                            <button type="submit" class="btn btn-primary">
                                                                Guardar cambios
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>